h1 {
    text-align: center;
}

.rojo {
    border: 10px solid firebrick;
}

.rosa {
    border: 10px dotted rgb(255, 105, 180);
}

.amarillo {
    border: 10px double #ffd700;
}

.blue {
}

.mixto {
    border-style: dashed solid dotted double;
}

.punteado {
    border-style: dotted;
    border-width: thick;
    border-color: crimson hotpink gold lime;
}

.solido {
    border: solid red;
    border-width: 10px;
    border-radius: 15px;
}
